* {
    font-family: 'Ubuntu', sans-serif;
}

html {
    background-color: white;
}

body {
    background-color: lightskyblue;
    border-radius: 2em;
    padding: 1em 2.5em;
}

#name_title {
    user-select: none;
}

@keyframes rainbows {
    0% {color: red;}
    10% {color: salmon;}
    20% {color: orange;}
    30% {color: yellow;}
    40% {color: greenyellow;}
    50% {color: green;}
    60% {color: cornflowerblue;}
    70% {color: blue;}
    80% {color: slateblue;}
    90% {color: purple;}
}

#name_title:hover {
    animation-name: rainbows;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#top {
    display: flex;
    flex-direction: row;
}

#iconbin ul li {
    list-style-type: none;
    position: relative;
}

#resume {
    background-color: yellow;
    border-radius: 1em;
    padding: 0.01em 01em;
    width: fit-content;
    height: fit-content;
    user-select: none;
    margin: 1em;
}

#resume:hover {
    background-color:gold;
}

#menu {
    display: flex;
    flex-direction: row;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu_items {
    align-items: left;
    max-width: 90%;
}

#menu_items ul {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    padding: 1em;
    background-color: white;
    border-radius: 1em;
}

#menu_items ul li {
    list-style-type: none;
    padding: 0.1em 0.5em;
}

#menu_items ul li:hover {
    color: white;
    background-color: black;
    border-radius: 1.5em;
    user-select: none;
}