/* all contents */

* {
    font-family: 'Ubuntu', sans-serif;
    user-select: none;
}

:root, :root.light {
    --text-color: black;
    --main-bg: white;
    --main-fg: lightskyblue;
    --main-op: black;
    --main-resume: yellow;
    --main-resume-hover: gold;
    --main-menu-item: black;
    --main-menu-item-b: black;
    --about-blockquote: rgba(127, 244, 255, 0.363);
    --hover-item-15: var(--main-fg);
    --hover-item-25: rgb(146, 209, 248);
    --hover-item-35: rgb(166, 217, 248);
    --hover-item-45: rgb(182, 223, 248);
    --hover-item-55: rgb(197, 227, 245);
    --proj-a: white;
}

:root.dark {
    --text-color: rgb(230, 230, 230);
    --main-bg: #181a1e;
    --main-fg: rgb(53, 52, 131);
    --main-op: white;
    --main-resume: rgb(188, 188, 0);
    --main-resume-hover: rgb(179, 152, 0);
    --main-menu-item: var(--main-fg);
    --main-menu-item-b: var(--main-op);
    --about-blockquote: rgba(127, 244, 255, 0.363);
    --hover-item-15: var(--main-fg);
    --hover-item-25: rgb(57, 58, 126);
    --hover-item-35: rgb(64, 62, 121);
    --hover-item-45: rgb(67, 69, 115);
    --hover-item-55: rgb(72, 74, 109);
    --proj-a: green;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: rgb(230, 230, 230);
        --main-bg: #181a1e;
        --main-fg: rgb(53, 52, 131);
        --main-op: white;
        --main-resume: rgb(188, 188, 0);
        --main-resume-hover: rgb(179, 152, 0);
        --main-menu-item: var(--main-fg);
        --main-menu-item-b: var(--main-op);
        --about-blockquote: rgba(127, 244, 255, 0.363);
        --hover-item-15: var(--main-fg);
        --hover-item-25: rgb(57, 58, 126);
        --hover-item-35: rgb(64, 62, 121);
        --hover-item-45: rgb(67, 69, 115);
        --hover-item-55: rgb(72, 74, 109);
        --proj-a: green;
    }
}

#projects a, #other a {
    background-color: black;
    color: var(--proj-a);
}

/* about  */

.blockquote_about {
    background-color:var(--about-blockquote);
    border-radius:1em; 
    padding:0.5em;
}

/* education */

#future {
    background-color: rgba(0, 255, 4, 0.212);
}

.coursework_table {
    border-spacing: 10px;
}

.coursework_table td {
    border: 0.5px solid gray;
    padding: 10px;
}

/* projects */

.skill-div {
    display: flex;
    flex-direction: inline;
}

.skill-item {
    padding: 0.5em 0.5em;
}

.skill-item:hover .skill-item:active {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1em;
}

.skill-item div {
    display: flex;
    flex-direction: column;
}

.skill-item div img {
    max-height: 64px;
    max-width: 64px;
}

.skill-item div b {
    font-size: small;
}

.proj-item-top {
    display: inline;
}

.proj-pic {
    max-width: 250px;
    border-radius: 2em;
    padding: 1em;
}

/* other non-main contents*/

#art-table {
    padding: 0.25em;
    background-color: rgb(95, 95, 95);
    margin-top: 1em;
    border: 1px solid black;
}

#art-table img {
    width: 300px;
    height: fit-content;
    border: 1px solid black;
}

#art-table img:hover {
    opacity: 80%;
}

.vol-item, .exp-item, .proj-item {
    padding: 0.5em 1.5em;
    border: 2px solid var(--main-bg);
    border-radius: 1em;
    margin-bottom: 1em;
}

@keyframes item-hover {
    0% {
        background-color: var(--hover-item-15);
        border-radius: 1em;
    }
    25% {
        background-color: var(--hover-item-25);
        border-radius: 0.5em;
    }
    50% {
        background-color: var(--hover-item-35);
        border-radius: 0.25em;
    }
    75% {
        background-color: var(--hover-item-45);
        border-radius: 0.1em;
    }
    100% {
        background-color: var(--hover-item-55);
        border-radius: 0em;
    }
}

.vol-item:hover, .vol-item:active, 
.exp-item:hover, .exp-item:active, 
.proj-item:hover, .proj-item:active {
    animation-name: item-hover;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

/* other (interests) */
#i-x {
    padding: 0 0 1em 0;
}

.interest-x {
    margin-left: 1em;
    margin-bottom: 5px;
    padding: 0 1em;
    border-left: 5px solid black;
    background-color: rgba(255, 255, 255, 0.5);
    width: fit-content;
    color: black;
}

/* main contents */

html {
    background-color: var(--main-bg);
    color: var(--text-color);
}

body {
    background-color: var(--main-fg);
    border-radius: 2em;
    padding: 1em 2.5em;
    justify-content: center;
    align-items: center;
    margin: 1% 3%;
}

#resume-a {
    user-select:none;
    text-decoration:none; 
    color:black; 
    padding-left:1em;
    /* for now, until after update*/
    visibility: hidden;
    pointer-events: none;
}

#resume {
    background-color: var(--main-resume);
    border-radius: 1em;
    padding: 0.01em 0.75em;
    width: fit-content;
    height: fit-content;
    user-select: none;
    margin: 1em;
}

#resume:hover, #resume:active {
    background-color: var(--main-resume-hover);
}

#dark-a {
    user-select:none;
    text-decoration:none; 
    color:black; 
    padding-left:1em;
    font-size: small;
}

#dark-mode {
    background-color: white;
    border-radius: 1em;
    padding: 0.25em 1em;
    width: fit-content;
    height: fit-content;
    user-select: none;
    margin: 1em;
}

#dark-mode:hover, #dark-mode:active {
    background-color: lightgray;
}

#name_title {
    user-select: none;
}

@keyframes rainbows { 
    0% {
        text-shadow: 5px 5px 5px red;
    }
    10% {
        text-shadow: 5px 5px 5px salmon;
    }
    20% {
        text-shadow: 5px 5px 5px orange;
    }
    30% {
        text-shadow: 5px 5px 5px yellow;
    }
    40% {
        text-shadow: 5px 5px 5px greenyellow;
    }
    50% {
        text-shadow: 5px 5px 5px green;
    }
    60% {
        text-shadow: 5px 5px 5px cornflowerblue;
    }
    70% {
        text-shadow: 5px 5px 5px blue;
    }
    80% {
        text-shadow: 5px 5px 5px slateblue;
    }
    90% {
        text-shadow: 5px 5px 5px purple;
    }
}

#name_title:hover, #name_title:active {
    animation-name: rainbows;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#top {
    display: flex;
    flex-direction: row;
}

#iconbin ul li {
    list-style-type: none;
    position: relative;
}

.iconbin_item_class a img:hover,
.iconbin_item_class a img:active {
    border: 1px solid white;
    border-radius: 1em;
    text-shadow: 50px 5px #fff;
}

#menu {
    display: flex;
    flex-direction: row;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu_items {
    align-items: left;
    max-width: 96%;
}

#menu_items ul {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    padding: 1em;
    color: var(--main-menu-item);
    background-color: var(--main-bg);
    border-radius: 1em;
}

#menu_items ul li {
    list-style-type: none;
    padding: 0.1em 0.5em;
    color: var(--text-color);
}

#menu_items ul li:hover, #menu_items ul li:active {
    color: var(--main-bg);
    background-color: var(--main-menu-item-b);
    border-radius: 1.5em;
    user-select: none;
}