/* all contents */

* {
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --main-bg: white;
    --main-fg: lightskyblue;
    --dark-bg: rgb(36, 36, 36);
    --dark-fg: rgb(74, 119, 254);
}

/* about  */

.blockquote_about {
    background-color:rgba(127, 244, 255, 0.363); 
    border-radius:1em; 
    padding:0.5em;
}

/* education */

.course-item-major:hover, .course-item-major:active {
    background-color: rgba(255, 238, 0, 0.5);
}

.course-item-minor:hover, .course-item-minor:active {
    background-color: rgba(89, 255, 0, 0.5);
}

.course-item-elective:hover, .course-item-elective:active {
    background-color: rgba(195, 0, 255, 0.5);
}

/* projects */

.skill-div {
    display: flex;
    flex-direction: inline;
}

.skill-item {
    padding: 0 0.5em;
}

.skill-item div {
    display: flex;
    flex-direction: column;
}

.skill-item div img {
    max-height: 64px;
    max-width: 64px;
}

.skill-item div b {
    font-size: small;
}

.proj-item-top {
    display: inline;
}

.proj-item ul {
    list-style-type: none;
}

.proj-pic {
    max-width: 250px;
}

/* other non-main contents*/

.vol-item, .exp-item, .proj-item {
    padding: 0.5em;
}

@keyframes item-hover {
    0% {
        background-color: lightskyblue;
        border-radius: 0em;
        padding: 0.5em;
    }
    25% {
        background-color: rgb(146, 209, 248);
        border-radius: 0.1em;
        padding: 0.625em;
    }
    50% {
        background-color: rgb(166, 217, 248);
        border-radius: 0.25em;
        padding: 0.75em;
    }
    75% {
        background-color: rgb(182, 223, 248);
        border-radius: 0.5em;
        padding: 0.875em;
    }
    100% {
        background-color: rgb(197, 227, 245);
        border-radius: 1em;
        padding: 1em;
    }
}

.vol-item:hover, .vol-item:active, .exp-item:hover, .exp-item:active, .proj-item:hover, .proj-item:active {
    animation-name: item-hover;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

/* main contents */

html {
    background-color: var(--main-bg);
}

body {
    background-color: var(--main-fg);
    border-radius: 2em;
    padding: 1em 2.5em;
}

#resume-a {
    user-select:none;
    text-decoration:none; 
    color:black; 
    padding-left:1em;
}

#resume {
    background-color: yellow;
    border-radius: 1em;
    padding: 0.01em 01em;
    width: fit-content;
    height: fit-content;
    user-select: none;
    margin: 1em;
}

#resume:hover, #resume:active {
    background-color:gold;
}

#dark-a {
    user-select:none;
    text-decoration:none; 
    color:black; 
    padding-left:1em;
    font-size: small;
}

#dark-mode {
    background-color: white;
    border-radius: 1em;
    padding: 0.25em 1em;
    width: fit-content;
    height: fit-content;
    user-select: none;
    margin: 1em;
}

#dark-mode:hover, #dark-mode:active {
    background-color: lightgray;
}

#name_title {
    user-select: none;
}

@keyframes rainbows {
    0% {color: red;}
    10% {color: salmon;}
    20% {color: orange;}
    30% {color: yellow;}
    40% {color: greenyellow;}
    50% {color: green;}
    60% {color: cornflowerblue;}
    70% {color: blue;}
    80% {color: slateblue;}
    90% {color: purple;}
}

#name_title:hover, #name_title:active {
    animation-name: rainbows;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#top {
    display: flex;
    flex-direction: row;
}

#iconbin ul li {
    list-style-type: none;
    position: relative;
}

#menu {
    display: flex;
    flex-direction: row;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu_items {
    align-items: left;
    max-width: 96%;
}

#menu_items ul {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    padding: 1em;
    background-color: white;
    border-radius: 1em;
}

#menu_items ul li {
    list-style-type: none;
    padding: 0.1em 0.5em;
}

#menu_items ul li:hover, #menu_items ul li:active {
    color: white;
    background-color: black;
    border-radius: 1.5em;
    user-select: none;
}